framework:
  secret: '%env(APP_SECRET)%'
  http_method_override: false
  csrf_protection: true
  handle_all_throwables: true
  php_errors:
    log: true
  session: true

twig:
  file_name_pattern: '*.twig'
  default_path: '%kernel.project_dir%/templates'

doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
  orm:
    auto_generate_proxy_classes: true
    enable_lazy_ghost_objects: true
    mappings:
      App:
        is_bundle: false
        type: attribute
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\\Entity'
        alias: App

doctrine_migrations:
  migrations_paths:
    'DoctrineMigrations': '%kernel.project_dir%/migrations'
