parameters:
  app.upload_dir: '%kernel.project_dir%/var/uploads'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      string $baseDir: '%app.upload_dir%'

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'
